@model AlphaShoeStore.Models.Category
@{
    ViewData["Title"] = $"{Model.CategoryName}";
}

<h1>@ViewData["Title"]</h1>
<ul>
    @foreach(var item in Model.Item)
    {
        <li>
            @item.Brand @item.Make
        </li>
    }
</ul>